name = "stockai-2api"
main = "worker.js"
compatibility_date = "2025-12-10"
account_id = "<YOUR_CLOUDFLARE_ACCOUNT_ID>"  # 在这里设置账户ID
workers_dev = true

[dev]
port = 8787

[[kv_namespaces]]
binding = "STOCK_KV"
id = "5509cae6a8e34007a70f746036e2b020"

[[kv_namespaces]]
binding = "API_KEYS_KV"
id = "bdd4828ebb1341b293fad17f11af03d1"

[[kv_namespaces]]
binding = "METRICS_KV"
id = "3b9f204e59fd4cd1933b2ee1f4d00d6e"
